@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:host {
    --color-text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.slidebar {
    width: 12vw;
    padding: 16px;
    background: linear-gradient(to bottom, #14314D, #303030, #151515);
}

.logo {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-icon {
    color: #FFFFFF;
    font-size: 2em;
}

.logo-text {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
}

.menu,
.library,
.my-playlist {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.menu a,
.library a,
.my-playlist a {
    color: #D7D7D7;
    outline: none;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 500;
    font-size: 1em;
    width: 80%;
}

.menu a:hover,
.library a:hover,
.my-playlist a:hover {
    color: #FFFFFF;
    border-radius: 7px;
    background-color: #2D659B;
    transition: ease-in-out .5s;
}

.menu p,
.library p,
.my-playlist p {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.menu i,
.library i,
.my-playlist i {
    margin-right: 6px;
}

.menu-active {
    border-radius: 7px;
    background-color: #2D659B;
    color: #FFFFFF !important;
}

.content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 88%;
    height: 100%;
    background: linear-gradient(to bottom, #151515, #303030, #14314D);
}

.top-content {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-content {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-content .left-side {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-content .right-side {
    width: 30%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to bottom, #303030, #151515);
}

.backgroundinfo,
.trending,
.trending2,
.trending3 {
    background-size: cover;
    background-repeat: no-repeat;
}

.left,
.avatar {
    z-index: 2;
}

.backgroundinfo {
    display: flex;
    justify-content: space-between;
    /* background-color: #2e5172; */
    background-image: url('./images/avatar.jpg');
    padding: 1%;
    border-radius: 15px;
    width: 88%;
}

.membraneshadow {
    position: absolute;
    justify-content: space-between;
    /* background-color: rgb(90, 0, 90); */
    background-color: #12304b;
    opacity: 0.9;
    padding: 1%;
    border-radius: 15px;
    margin: 1.5% 0% 0% 4.3%;
    height: 27.8vh;
    width: 75.9%;
    z-index: 1;
}

.trending {
    display: flex;
    justify-content: space-between;
    background-image: url('./images/layout.jpg');
    width: 100%;
    padding: 1%;
    border-radius: 15px;
}

.backgroundinfo .left,
.trending .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.backgroundinfo .left .title,
.trending .left .title {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 1000;
}

.backgroundinfo .left .view {
    font-weight: bold;
    color: white;
}

.backgroundinfo .left .aboutsinger {
    font-weight: 700;
    color: rgb(216, 216, 216);
    width: 60%;
}

.backgroundinfo .left .artist,
.backgroundinfo .left .view,
.backgroundinfo .left .type,
.trending .left .artist,
.trending .left .view,
.trending .left .type {
    color: #D7D7D7;
    font-size: 1em;
    font-weight: 1000;
}

.backgroundinfo .left .artist {
    font-size: 2em;
}

.backgroundinfo .left .type,
.trending .left .artist,
.trending .left .type {
    font-size: 1.5em;
}

.backgroundinfo .left .type,
.trending .left .type {
    margin-bottom: 50px;
}

.trending2 {
    display: flex;
    justify-content: space-between;
    background-image: url('./images/Bo-La-Tat-Ca.jpg');
    width: 100%;
    padding: 1%;
    border-radius: 15px;
}

.trending2 .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.trending2 .left .title {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 1000;
}

.trending2 .left .artist,
.trending2 .left .view,
.trending2 .left .type {
    color: #D7D7D7;
    font-size: 1em;
    font-weight: 1000;
}

.trending2 .left .artist,
.trending2 .left .type {
    font-size: 1.5em;
}

.trending2 .left .type {
    margin-bottom: 50px;
}

.trending3 {
    display: flex;
    justify-content: space-between;
    background-image: url('./images/Duong-Den-Ngay-Vinh-Quang.jpg');
    width: 100%;
    padding: 1%;
    border-radius: 15px;
}

.trending3 .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.trending3 .left .title {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 1000;
}

.trending3 .left .artist,
.trending3 .left .view,
.trending3 .left .type {
    color: #D7D7D7;
    font-size: 1em;
    font-weight: 1000;
}

.trending3 .left .artist,
.trending3 .left .type {
    font-size: 1.5em;
}

.trending3 .left .type {
    margin-bottom: 50px;
}

.btn-play {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 1000;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 30px;
    margin-top: 20px;
    background: linear-gradient(to right, #14314D, #151515);
}

.btn-play:hover {
    box-shadow: 5px 10px 18px #14314D;
    transition: ease-in-out .5s;
}

.trending .right,
.trending2 .right,
.trending3 .right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: linear-gradient(to right, #14314D, #151515);
    border-radius: 10px;
    padding: 5px 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.avatar img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-right: 10px;
}

.trending .right img,
.trending2 .right img,
.trending3 .right img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.playlist {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.left-side-top {
    border-radius: 15px;
    background: linear-gradient(to bottom, #303030, #151515);
}

.left-side-bottom {
    height: 45%;
    display: flex;
    justify-content: space-between;
}

.left-side-bottom .left {
    border-radius: 15px;
    background: linear-gradient(to bottom, #303030, #151515);
    height: 100%;
    width: 50%;
}

.left-side-bottom .right {
    border-radius: 15px;
    background: linear-gradient(to bottom, #303030, #151515);
    height: 100%;
    width: 45%;
}

.top-albums-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-albums-title span:first-child,
.genres-table-title span:first-child {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 800;
    margin: 10px;
}

.top-albums-title span:nth-child(2),
.genres-table-title span:nth-child(2) {
    color: #D7D7D7;
    margin: 10px;
    font-weight: 800;
}

.top-albums-title span:nth-child(2):hover,
.genres-table-title span:nth-child(2):hover {
    color: #FFFFFF;
    cursor: pointer;
}

.top-albums {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top-albums img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    animation: hide 1s ease-in-out;
    transition: ease-in-out 1s;
}

.top-albums img:hover {
    box-shadow: 5px 10px 18px #14314D;
    transition: ease-in-out 1s;
    cursor: pointer;
    transform: scale(1.1) translateY(-10%);
}

.card-albums {
    margin-top: 2%;
}

.card-albums p {
    margin: 10% 0 10% 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.1em;
    font-weight: 500;
}

.left-side-bottom .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.genres-table-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-side-bottom .genres-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    height: 80%;
    width: 90%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: #FFFFFF;
    font-weight: 800;
}

.grid-item:hover {
    cursor: pointer;
}

.grid-item:nth-child(1) {
    background: #00C896;
}

.grid-item:nth-child(2) {
    grid-column: 2/4;
    background: #8685EF;
}

.grid-item:nth-child(3) {
    grid-column: 4/6;
    background: #474554;
}

.grid-item:nth-child(4) {
    grid-column: 1/3;
    background: #93E2E4;
}

.grid-item:nth-child(5) {
    background: #ACA7CB;
}

.grid-item:nth-child(6) {
    background: #FF6F91;
}

.grid-item:nth-child(7) {
    background: #0089BA;
}

.all-song {
    color: white;
    font-size: large;
    font-weight: bold;
    margin: 3% 0% 2% 4%;
}

.list-song-singer:hover,
.song:hover {
    background-color: rgb(70, 70, 70);
}

.list-song-singer {
    display: flex;
    border-bottom: 1px rgb(88, 88, 88) solid;
    border-radius: 10px;
    transition: background-color 0.5s;
    width: 90%;
    margin-left: 4%;
    padding: 10px;
}

.song {
    display: flex;
    justify-content: start;
    align-items: stretch;
    margin: 1% auto 1% auto;
    width: 95%;
    border-radius: 10px;
    padding: 2% 0% 2% 2%;
    transition: background-color 0.5s;
}

.list-song-singer:nth-child(1),
.song:nth-child(1) {
    animation: to-right 1s ease-in-out;
}

.list-song-singer:nth-child(2),
.song:nth-child(2) {
    animation: to-right 1.2s ease-in-out;
}

.list-song-singer:nth-child(3),
.song:nth-child(3) {
    animation: to-right 1.4s ease-in-out;
}

.list-song-singer:nth-child(4),
.song:nth-child(4) {
    animation: to-right 1.6s ease-in-out;
}

.song-img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border-radius: 10px;
}

.song-title {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.song-title span:first-child {
    color: #FFFFFF;
}

.song-title span:nth-child(2) {
    color: #D7D7D7;
    font-size: .8em;
}

.song-time {
    width: 30%;
    margin-top: 2%;
    color: #D7D7D7;
    font-size: .9em;
}

.left-side-bottom .right p {
    margin: 10px;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 800;
}

.btn-song-play i {
    color: #FFFFFF;
    font-size: 2em;
    margin-top: 15%;
}

.btn-song-play i:hover {
    color: #D7D7D7;
    font-size: 2em;
    font-weight: 1000;
}

.bottom-content .right-side {
    display: flex;
    flex-direction: column;
}

.adp-card-title {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 800;
    padding: 10px 20px;
}

.adp-img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    transition: ease-in-out 1s;
}

.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adp-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adp-title p {
    margin-top: 20px;
}

.adp-title p:nth-child(1) {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 800;
}

.adp-title p:nth-child(2) {
    color: #D7D7D7;
}

.adp-title p:nth-child(3) {
    color: #D7D7D7;
    font-size: .8em;
}

.adp-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.adp-action i {
    font-size: 2em;
    color: #FFFFFF;
}

.adp-action a {
    margin: 0 20px
}

.adp-action i:hover {
    color: #D7D7D7;
    font-weight: 1000;
}

#top_song {
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

#top_song::-webkit-scrollbar {
    display: none;
}

.duration {
    color: #fff;
    font-size: 15px;
    margin-top: 3rem;
    margin-left: 7.5rem;
}


/* both range slider part */

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    height: 2px;
    margin-left: -3.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #65bcff;
    border-radius: 50%;
    cursor: pointer;
}

#image {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes hide {
    0% {
        transform: scale(.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes to-right {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* css slideshow auto */

.mySlides {
    display: none;
}

.active {
    background-color: #717171;
}

.slideshow-container {
    width: 88%;
    margin-left: -2%;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.uploaddisplay {
    background-image: url('./images/uploadfile.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 50vh;
    margin: auto;
    border-radius: 15px;
    text-align: center;
}


/* search */

#search input {
    outline: none;
    padding: 0;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1em;
    font-weight: 500;
    line-height: 40px;
    text-indent: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    width: 70%;
    transition: .4s;
    background-color: transparent;
}

.ContainerSearch {
    width: 230px;
    position: absolute;
}

#search {
    transition: .4s;
    height: 100%;
    width: 100%;
}

.hide {
    opacity: 0;
    z-index: 0;
    position: relative;
}

#search button:hover {
    color: #212121;
    background-color: #fafafa;
}

#search button {
    width: 25%;
    margin-top: 2px;
    outline: none;
    text-align: center;
    padding: 10px;
    border: 1.5px solid #fafafa;
    background-color: transparent;
    color: #fafafa;
    transition: .4s;
    border-radius: 5px;
}


/* ----------Master Long code --------- */

.theloaiupdate {
    color: rgb(150, 150, 150);
}

.s1 {
    text-align: center;
    margin: 44% auto 0% auto;
}

.select {
    margin: 5% auto 5% auto;
}

.select .toggle {
    color: white;
}

.customsselects {
    margin: 20px auto;
    width: 550px;
}

.customsselects:after {
    content: "";
    display: block;
    clear: left;
}

.select {
    position: relative;
    width: 200px;
    box-shadow: 1px 0px 5px 0 rgba(0, 0, 0, 0.11);
    border-radius: 5px;
}

.select input {
    position: absolute;
    left: -9999px;
}

.toggle+label {
    z-index: 2;
    width: 200px;
    height: 40px;
    display: block;
    background: #39b1da;
    line-height: 40px;
    text-indent: 5px;
    border-radius: 5px 5px;
    color: #ffffff;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.4), 0px 1px 0 0 #305563;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.toggle+label::before {
    content: "";
    background: #427586;
    height: 24px;
    width: 24px;
    position: absolute;
    border-radius: 50%;
    box-shadow: inset 0px 1px 0 0 #305563, inset 0px -1px 0 0 rgba(255, 255, 255, 0.4);
    right: 5px;
    top: 9px;
    cursor: pointer;
}

.toggle+label::after {
    content: "";
    background: #2d94b6;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50% 0 50% 50%;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 0 #305563;
    right: 11px;
    top: 15px;
    -webkit-transform: rotate(45deg);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.toggle:checked+label::after {
    -webkit-transform: rotate(135deg);
    box-shadow: inset 0px -1px 0 rgba(255, 255, 255, 0.4), 0px -1px 0 0 #305563;
}

.toggle:checked+label {
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(0, 0, 0, 0.01), 0 2px 0 0 rgba(255, 255, 255, 0.44);
}

.select ul {
    margin: 0;
    list-style: none;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 700ms linear;
    -moz-transition: all 700ms linear;
    -ms-transition: all 700ms linear;
    -o-transition: all 700ms linear;
    transition: all 700ms linear;
    background: #ecf2f4;
    width: 200px;
    border-radius: 0 0 5px 5px;
}

.toggle:checked~ul {
    max-height: 1000px;
}

.select-option label {
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.44);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.select-option label:hover {
    background: rgb(193, 217, 226);
}

.select ul li:nth-last-child(1) label {
    border-radius: 0 0 5px 5px;
}

.select-option label:active {
    background: rgb(151, 196, 213);
    outline: none;
}

.select-option input:checked+label {
    background: rgb(151, 196, 213);
    text-indent: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09), 0 -1px 2px 0 rgba(0, 0, 0, 0.09);
}

#custom-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#custom-button:hover {
    background-color: #00b28f;
}

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    background-color: rgb(61, 161, 197);
    border: none;
    transition: box-shadow 0.5s;
}

.custom-file-upload:hover {
    box-shadow: 3px 3px rgb(32, 106, 133);
}

.inputinfosong,
.uploadbutton {
    display: none;
    margin: 3% 0 5% 0;
}

.select {
    display: block;
}

.inputinfosong button {
    display: block;
    width: 20%;
    padding: 1%;
    border: none;
    background: #0089BA;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.5s;
    margin: 4% auto 0% auto;
}

.inputinfosong button:hover {
    box-shadow: 2px 2px grey;
}

.inputinfosong button:focus {
    outline: none;
}

.inputinfosong input {
    padding: 1%;
    border: none;
    border-bottom: 1px black solid;
    transition: box-shadow 0.5s;
    background: #f5f5f5;
    color: gray;
}

.inputinfosong input:focus {
    outline: none;
    box-shadow: 2px 2px grey;
    color: black;
}

.test {
    position: absolute;
    background-image: url('./images/ic_up_music.png');
    width: 10%;
    height: 20vh;
    margin: auto;
    display: none;
    top: 27%;
    left: 51.5%;
    background-size: cover;
}